Brotli==1.1.0
FindSystemFontsFilename==0.3.2; python_version >= '3.8' # This module only supports 3.8 or higher so only require it then, since it's arguably non-essential.
fonttools[woff,ufo,unicode,pathops]==4.59.0; python_version >= '3.8'
fonttools[woff,ufo,unicode,pathops]; python_version < '3.8' # I'm a bit more forgiving with version restrictions on older python versions since I don't fully support it.

python-bidi==0.6.6; python_version >= '3.8'
# newer python-bidi is completely incompatible with how we use it
python-bidi==0.4.2; python_version < '3.8'

# ufo2ft>=3.2.8; python_version >= '3.8' #Pin for fg issue (according to coldtype)
ufo2ft==3.6.0; python_version >= '3.8'
ufo2ft; python_version < '3.8' # Since Typecaster really shouldn't be used in < 3.8, I don't really care much about the fg issue here.
ufoLib2 #This is currently unpinned, but it doesn't matter much since I don't fully support .ufo files in Typecaster yet.

# uharfbuzz<0.47.0  # some kind of cached variations/memory bug introduced in 0.47.0 (according to coldtype)
uharfbuzz==0.51.0; python_version >= '3.8'
uharfbuzz==0.46.0; python_version < '3.8' # Since Typecaster really shouldn't be used in < 3.8, I don't really care much about specific versions.
unicodedata2==16.0.0